/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: AltelPro;
  src: url('assets/font/AltelPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: AltelPro;
  src: url('assets/font/AltelPro-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: AltelPro;
  src: url('assets/font/AltelPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: AltelPro;
  src: url('assets/font/AltelPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: AltelPro;
}
